/*@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";*/
.slider-container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
}
